#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: 100vh;
}

* {
  &::selection {
    background-color: transparent;
  }
}

.welcome {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_app-text {
  position: relative;
  z-index: 1;
}

.welcome__greeting {
  position: relative;
  cursor: pointer;

  line-height: 1;

  -webkit-transform: translate3d(0, 0, 0);

  -webkit-text-stroke-color: #212529;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-size: 180px;

  @media (max-width: 991px) {
    font-size: 90px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }

  &:hover {
    .comet,
    .comet::after,
    .comet-8::after {
      border-color: blue;
      background-color: blue;
      transition: all 0.3s ease-in-out;
    }
    .bg-text-1 {
      opacity: 1;
      transform: translate(5px, -5px);
      transition: all 0.3s ease-in-out;
    }
    .bg-text-2 {
      opacity: 1;
      transform: translate(10px, -10px);
      transition: all 0.4s ease-in-out;
    }
    .bg-text-3 {
      opacity: 1;
      transform: translate(15px, -15px);
      transition: all 0.5s ease-in-out;
    }
  }
}

.bg-text {
  position: absolute;
  left: 0;
  // opacity: 0;
  z-index: -1;
}

.bg-text-1 {
  transform: translate(0px, -0px);
  -webkit-text-fill-color: blue;
  // opacity: 0;
  transition: all 0.3s ease-in-out;
}

.bg-text-2 {
  transform: translate(0px, -0px);
  -webkit-text-fill-color: dodgerblue;
  // opacity: 0;
  transition: all 0.4s ease-in-out;
}

.bg-text-3 {
  transform: translate(0px, -0px);
  // opacity: 0;
  transition: all 0.5s ease-in-out;
}

.comet__line {
  position: relative;

  animation: infinite;
  animation-name: loading-line;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: all;
}

.comet {
  position: absolute;
  transform-origin: center;
  position: absolute;
  width: 8px;
  top: -80px;

  animation: infinite;
  animation-name: loading-dot;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition: all;

  width: 8px;
  height: 8px;

  border: 2px solid #212529;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;

  @media (max-width: 991px) {
    top: -40px;
  }

  @media (max-width: 767px) {
    top: -20px;
  }

  // transform: translateY(-50%);
  &::after,
  &-8::after {
    display: block;
    content: "";
    clear: both;

    position: absolute;

    animation: infinite;
    animation-name: loading-dot;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all;

    -webkit-backface-visibility: hidden;
  }

  &-8 {
    &::after {
      width: 8px;
      height: 8px;
      bottom: 5px;
      border: 2px solid #212529;
      border-radius: 50%;
      animation-name: loading-line-8;
    }
  }
}

@keyframes loading-line {
  0% {
    z-index: 3;
  }
  25% {
  }

  50% {
    z-index: 3;
  }
  51% {
    z-index: -1;
  }
  75% {
    z-index: -1;
  }

  99% {
    z-index: -1;
  }

  100% {
    z-index: 3;
  }
}
@keyframes loading-dot {
  0% {
    left: -5%;
    // width: 0%;
    // border-color: #fff;
    transform: scale(1);
    z-index: 3;
  }

  25% {
    transform: scale(1.5);
  }
  50% {
    left: calc(105%);
    border-color: #212529;
    transform: scale(1);
    z-index: 3;
  }
  51% {
  }

  75% {
    transform: scale(0.5);
  }

  100% {
    left: -5%;
    // width: 0%;
    // border-color: #fff;
    transform: scale(1);
    // z-index: -1;
  }
}

@keyframes loading-line-8 {
  0% {
    left: 71%;
    // width: 0%;
    // border-color: #fff;
    transform: scale(1);
    z-index: -1;
  }
  24% {
    z-index: -1;
  }
  25% {
    transform: scale(1.7);
    z-index: -1;
  }

  40% {
    z-index: 3;
  }
  50% {
    left: calc(91% - 4px);
    border-color: #212529;
    transform: scale(1);
    z-index: 3;
  }
  51% {
    z-index: -1;
  }
  75% {
    transform: scale(1.7);
  }

  90% {
    z-index: 3;
  }
  100% {
    left: 71%;
    // width: 0%;
    // border-color: #fff;
    transform: scale(1);
  }
}
